.bod {
display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0; 
  
}




.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  border: 1px solid #f49393; 
  border-radius: 8px; 
  box-shadow: 10px 10px 5px rgb(216, 47, 47);
  backdrop-filter: blur(10px); 
  width: 500px;
  height: 400px;
  color: white;
  font-size: 26px;
}

.sign input {
  padding: 10px;
  border: 1px solid #f2eded; 
  border-radius: 4px; 
  font-size: 26px; 
}

.sign input:focus {
  border-color: #007bff; 
  outline: none; 
}

.sign button {
  padding: 10px;
  background-color: #007bff; 
  color: white; 
  border: none; 
  border-radius: 10px; 
  cursor: pointer; 
  font-size: 26px; 
  transition: background-color 0.3s; 
}

.sign button:hover {
  background-color: #0056b3; 
}